<div th:fragment="footer">
	<script src="/jquery/jquery.min.js">
	<!--  -->
		
	</script>

	
	
	<script src="/jquery/jquery-ui.min.js">
	<!--  -->
		
	</script>
	
	<script src="/js/typeahead.bundle.js">
	<!--  -->
		
	</script>
	<script src="/material-design/js/material.min.js">
	<!--  -->
		
	</script>
	<script src="/bootstrap.min.js">
	<!--  -->
		
	</script>
	<script src="/material-design/js/material.min.js">
	<!--  -->
		
	</script>
	<script>
		$.material.init();
		
		//$(document).ready(function(){
			//$('#q').typeahead({
			//	name: 'accounts',
				//prefetch: 'loadterm',
		       // limit: 10
		     //});
		//});  
	</script>
</div>

