<nav th:fragment="header" class="header navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
       <div class="navbar-header">
        <a id="nav_icon_title" class="navbar-brand" href="/"><img src="/img/icon.png" alt="Bluggee" style="width: 60px;" />popular blogs in one place</a>
      </div>
       <ul class="nav navbar-top-links navbar-right nav-pills nav-user pull-right">
        	 <!--li><a href="mailto:blogadikt@gmail.com" ><i class="mdi mdi-2x mdi-email"></i></a></li-->
		    <li><a data-toggle="modal" data-target="#filterModal"><i class="mdi mdi-2x mdi-more-vert"></i></a></li>
		   
		</ul>
  
   </div>
</nav>