<nav th:fragment="header" class="header navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
       <div class="navbar-header">
        <a id="nav_icon_title" class="navbar-brand" href="/"><strong>Bluggee</strong> - popular blogs in one place</a>
      </div>
       <!--ul class="nav navbar-top-links navbar-right nav-pills nav-user pull-right">
        	 <li><a href="mailto:blogadikt@gmail.com" ><i class="mdi mdi-2x mdi-email"></i></a></li>
		    <li><a onclick="showFilter();" data-target="#filterModal"><i class="mdi mdi-2x mdi-more-vert"></i></a></li>
		   
		</ul-->
  
   </div>
</nav>