<div th:fragment="post">
	<div id="wrapper">

		<div class="columns">
			<div th:each="post : ${posts}" class="pin">
				<a th:href="${post.originalUrl}"  target="blank">
					<div class="pn_image_div">
						<img  th:attr="id=${post.id+'_img'}" class="pn_image" th:src="${post.image}" onload="checkImage(this)" />
						<center th:attr="id=${post.id+'_img_load'}" class="ld_image" ><img src="/img/img_loader.gif" /></center>
					</div>
				</a>
				
				<div class="pn_title_div">
					<a th:href="${post.source.link}">
						<span class="source_title"><span th:text="${post.source.name}" /></span>
					</a>
					<p class="content_title" th:text="${post.title}" />
				</div>
				
				<div class="presets post_items">
					
					<div class="list-group">
					  <button  th:attr="data-href=${post.url}, data-desc=${post.description}, data-title=${post.title}, data-image=${post.image}" type="button" onclick="shareFb(this)" class="fb list-group-item">
					    <i class="fa fa-facebook-square fa-4x"></i><span class="share_span">share on facebook</span>
					  </button>
					  
					  <button  th:attr="data-href=${post.url}, data-desc=${post.description}, data-title=${post.title}, data-image=${post.image}" type="button" onclick="shareTw(this)" class="tw list-group-item">
					    <i class="fa fa-twitter-square fa-4x"></i><span class="share_span">share on twitter</span>
					  </button>
					  
					  <button  th:attr="data-href=${post.url}, data-desc=${post.description}, data-title=${post.title}, data-image=${post.image}" type="button" class="g list-group-item"  onclick="shareG(this)">
					    <i class="fa fa-google-plus-square fa-4x"></i><span class="share_span">share on google+</span>
					  </button>
					  
					   <button  th:attr="data-href=${post.url}, data-desc=${post.description}, data-title=${post.title}, data-image=${post.image}" type="button" class="g list-group-item"  onclick="shareLi(this)">
					    <i class="fa fa-linkedin-square fa-4x"></i><span class="share_span">share on linkedin</span>
					  </button>
					</div>
					
					
				</div>
			</div>

		</div>



	</div>

	<div id="pin_template" style="display: none;">

		<div class="pin">
			<a href="${originalUrl}" target="blank">
				<div class="pn_image_div">
					<img id="${id}_img" class="pn_image" src="${image}" onload="checkImage(this)"/>
					<center id="${id}_img_load" class="ld_image" ><img src="/img/img_loader.gif" /></center>
				</div>
			</a>
			<div class="pn_title_div">
					<a href="${link}">
						<span class="source_title"><span>${source.name}</span></span>
					</a>
					<p class="content_title">${title}</p>
			
			</div>
			
			<div class="presets post_items">
				
				<div class="list-group">
					  <button  data-href="${url}" data-desc="${description}" data-title="${title}" data-image="${image}" type="button" class="fb list-group-item" onclick="shareFb(this)">
					    <i class="fa fa-facebook-square fa-4x"></i><span class="share_span">share on facebook</span>
					  </button>
					  
					  <button  data-href="${url}" data-desc="${description}" data-title="${title}" data-image="${image}" type="button" class="tw list-group-item" onclick="shareTw(this)">
					    <i class="fa fa-twitter-square fa-4x"></i><span class="share_span">share on twitter</span>
					  </button>
					  
					  <button  data-href="${url}" data-desc="${description}" data-title="${title}" data-image="${image}" type="button" class="g list-group-item" onclick="shareG(this)">
					    <i class="fa fa-google-plus-square fa-4x"></i><span class="share_span">share on google+</span>
					  </button>
					  
					  
					   <button  data-href="${url}" data-desc="${description}" data-title="${title}" data-image="${image}" type="button" class="g list-group-item" onclick="shareLi(this)">
					     <i class="fa fa-linkedin-square fa-4x"></i><span class="share_span">share on linkedin</span>
					  </button>
					</div>
				
			</div>
		</div>
	</div>
</div>
