<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${post.title}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/bootstrap.min.css" media="screen" />
<link rel="stylesheet"
	href="/material-design/css/bootstrap-material-design.css"
	media="screen" />
<link rel="stylesheet" href="/material-design/css/material-icons.css"
	media="screen" />
<link rel="stylesheet" href="/how2.css" media="screen" />
<link rel="stylesheet" href="css/material-icons.css" />

</head>
<body>
	<div th:replace="fragments/header :: header">...</div>
	<div class="container">
		<div class="page-header" id="banner">
			<div class="row">
				
				<div class="col-sm-12">
							<h3 class="post_items">
								<span th:text="${post.title}" />
							</h3>
							
							<div class="post_img_cont post_items">
								 <img class="post_img" th:src="${post.image}" />
							</div>
							<div class="post_desc post_items">
								<span th:text="${post.description}" />
							</div>
							
							<div class="presets post_items">
							 <span class="presets_items">
							 	  <a th:href="${post.source.link}">
								  <img class="source_img" th:src="${'/img/source/'+post.source.image}" />
								  <span class="source_title"><span th:text="${post.source.name}" /></span>
								  </a>
							  </span>
							</div>
				</div>
			</div>




		</div>
	</div>
	<script src="/jquery/jquery.min.js">
	<!--  -->
		
	</script>
	<script src="/bootstrap.min.js">
	<!--  -->
		
	</script>
	<script src="/material-design/js/material.min.js">
	<!--  -->
		
	</script>
	<script>
		$.material.init();
	</script>
</body>
</html>
