<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${post.title}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/bootstrap.min.css" media="screen" />
<link rel="stylesheet"
	href="/material-design/css/bootstrap-material-design.css"
	media="screen" />
<link rel="stylesheet" href="/material-design/css/material-icons.css"
	media="screen" />
<link rel="stylesheet" href="/how2.css" media="screen" />
<link rel="stylesheet" href="css/material-icons.css" />
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div th:replace="fragments/content_header :: header">...</div>
	
	
	
	<div class="container">
	
	
	
		<div class="page-header" id="banner">
			<div class="row">
				
				<div class="col-sm-12">
								
								<div class="pin content_main">
									<h2  class="content_title"><span th:text="${post.title}" /></h2>
									<div  class="content_image">
										 <img th:src="${post.image}" />
									</div>
									<div class="content_body">
										<p><span th:text="${post.description}" /></p>
									</div>
				
				
									<div class="presets post_items">
										<span class="presets_items">
													 	  <a th:href="${post.source.link}">
															  <img class="source_img" th:src="${'/img/source/'+post.source.image}" />
															  <span class="source_title"><span th:text="${post.source.name}" /></span>
														  </a>
														  <a class="content_link" th:href="${post.originalUrl}">View Original Post</a>
										</span>
													
									</div>
								</div>
				
							
				</div>
			</div>




		</div>
		
		
		<br />
		
		<div>
	    	<script data-cfasync="false" type="text/javascript" src="http://www.adnetworkperformance.com/a/display.php?r=1480213"></script>
	    </div>
	    
	    <br />
		
		<div>
		
			 <p>
				<script type='text/javascript'>
						(function(){
						  var spoutjs=document.createElement('script'),firstjs=document.getElementsByTagName('script')[0];
						  spoutjs.async=1;
						  spoutjs.src='//cdn.spoutable.com/fe344da6-158d-4703-8545-026b3e66639a/spoutable.js';
						  firstjs.parentNode.insertBefore(spoutjs,firstjs)
						})();
				</script>
		    </p>
		
		</div>
		
	</div>
	<script src="/jquery/jquery.min.js">
	<!--  -->
		
	</script>
	<script src="/bootstrap.min.js">
	<!--  -->
		
	</script>
	<script src="/material-design/js/material.min.js">
	<!--  -->
		
	</script>
	<script>
		$.material.init();
	</script>
</body>
</html>
