<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>bluggee-all the great source of content you love in one
	place.</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/bootstrap.min.css" media="screen" />
<link rel="stylesheet"
	href="/material-design/css/bootstrap-material-design.css"
	media="screen" />
<link rel="stylesheet" href="/material-design/css/material-icons.css"
	media="screen" />
<link rel="stylesheet" href="/how2.css" media="screen" />
<link rel="stylesheet" href="/icofont/css/icofont.css" media="screen" />
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.css" />

<meta name="propeller" content="147a8a91bb7277e70df580fb25d276ba" />
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
<meta property="og:title"
	content="Popular blog Streams all in one place. view contents from various blogs. View content on different topics; entertainment, technology, music, arts, news e.t.c... Stay up to date!" />

<link rel="alternate" href="http://bluggee.com" hreflang="en-us" />

<meta name="viewport" content="width=device-width, initial-scale=1" />
<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script',
			'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-89629811-1', 'auto');
	ga('send', 'pageview');
</script>

</head>
<body>
	<!--script src="//go.mobtrks.com/notice.php?p=976543&amp;interstitial=1"></script-->
	<div th:replace="fragments/header :: header">...</div>

	<div class="content_page">
		<div class="home_desc">
					<p>Popular blog Streams all in one place.
						View contents from various blogs and on different topics.
						entertainment, technology, music, arts, news e.t.c... Stay up to
						date!
					</p>
		</div>
		<div class="page-content" id="banner">
				
				
				<div>
					<!--div id="one"-->
						
						<div th:replace="fragments/post :: post">...</div>
						
						
						
						
						
					<!--/div-->
				
					<!--div id="two">
						<div class="elong_ads">
							<center>
								<script data-cfasync='false' type='text/javascript' src='//p190212.clksite.com/adServe/banners?tid=190212_346945_10'></script>
							</center>
						</div>
						
						<div class="elong_ads">
							<center>
								<script data-cfasync='false' type='text/javascript' src='//p190212.clksite.com/adServe/banners?tid=190212_346945_11'></script>
							</center>
						</div>
					</div-->
					
				</div>
				
			
			
			
		</div>
		<div id="loading" style="display: none;">
			<img src="/img/ajax-loader.gif" />
		</div>
		
		
		<div id="loading_big" style="display: none;">
			<img src="/img/loading.svg" />
		</div>
		
		<div class="ads_cas">
				<div>
					<center>
					<script type="text/javascript" src="//ubercpm.com/show.php?z=26&amp;pl=62946&amp;j=1"></script>
					</center>
				</div>
							
							
				<div>
				<center>
					<script type="text/javascript" src="//ubercpm.com/show.php?z=26&amp;pl=62598&amp;j=1"></script>
					</center>
				</div>
	</div>
	</div>

	<div th:replace="fragments/footer :: footer">...</div>




	<div id="filterModal" class="modal fade" role="dialog">
		<div class="modal-dialog mymodal_dialog">

			<!-- Modal content-->
			<div class="modal-content mymodal">

				<div class="modal-body">
					<ul class="nav nav-pills mnav-pills">
						<li class="active"><a href="#1a" data-toggle="tab"
							style="color: #050A15;">Filter Streams By Blog Source</a></li>
						<!--li><a href="#2a" data-toggle="tab" style="color:#050A15;">Filter Streams By Blog Source</a></li-->
					</ul>

					<div class="tab-content clearfix">

						<div class="tab-pane active" id="1a" style="padding: 20px;">

							<div class="row">
								<div th:each="cat : ${sources}" class="col-sm-4">
									<div>
										<input th:id="${'cat_'+cat.id}" th:value="${cat.id}"
											class="checkbox-custom cat_check" name="source"
											type="checkbox" /> <label class="checkbox-custom-label"><span
											th:text="${cat.name}" /></label>
									</div>

								</div>
							</div>


						</div>

					</div>
				</div>
				<div class="modal-footer mymodal-footer">
					<!--button type="button" class="btn btn-default mymodal-button" onclick="allfeeds()">All Feeds</button-->
					<button type="button" class="btn btn-default mymodal-button"
						onclick="filter()">Filter</button>
					<button type="button" class="btn btn-default mymodal-button"
						data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>


	
	
	
	<script src="/js/jquery.tmpl.js" />
	<script src="/js/bluggee.js" />
	
	
	<script type='text/javascript'>
	(function(){
	  var spoutjs=document.createElement('script'),firstjs=document.getElementsByTagName('script')[0];
	  spoutjs.async=1;
	  spoutjs.src='//cdn.spoutable.com/fe344da6-158d-4703-8545-026b3e66639a/spoutable.js';
	  firstjs.parentNode.insertBefore(spoutjs,firstjs)
	})();
	</script>
</body>


</html>
